@page "/"

<PageTitle>Mateusz Kmieciak</PageTitle>

<div class="mt-5">
    <h5>Hi, my name is</h5>
    <h2 class="p-0 m-0">Mateusz Kmieciak</h2>
    <h5>.NET Developer and enthusiast</h5>
    <div class="btn btn-large deep-purple darken-1 mt-2">Contact</div>
</div>

@code {

}
